#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 1rem;
	text-align: center;
	min-height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 100vh;
}

body {
	overflow-y: hidden;
	background-image: url('./assets/bgImage.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.wrapper {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	min-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	z-index: 9;
}

.loader-message {
	color: teal;
	text-align: center;
	margin-top: 1rem;
	font-size: 1.1rem;
	font-weight: 600;
}

.wave-ring-loader {
	position: relative;
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wave-ring {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 3px solid #00a2ff;
	border-radius: 50%;
	animation: pulse 1.5s infinite ease-out;
}

.wave-ring:nth-child(2) {
	animation-delay: 0.5s;
}

.wave-ring:nth-child(3) {
	animation-delay: 1s;
}

@keyframes pulse {
	0% {
		transform: scale(0.2);
		opacity: 1;
	}
	100% {
		transform: scale(1.5);
		opacity: 0;
	}
}
